{% extends "base.html" %}
{% block content %}
<h2><i class="fa-solid fa-pen-to-square"></i> Edit Machine</h2>
<form method="post" class="card p-4 shadow-sm">
    <div class="mb-3">
        <label for="name" class="form-label">Machine Name</label>
        <input type="text" class="form-control" name="name" id="name" value="{{ machine.name }}" required>
    </div>
    <div class="mb-3">
        <label for="url" class="form-label">Machine URL</label>
        <input type="text" class="form-control" name="url" id="url" value="{{ machine.url }}" required>
    </div>
    <div class="mb-3">
        <label for="storage_path" class="form-label">Storage Path</label>
        <input type="text" class="form-control" name="storage_path" id="storage_path" value="{{ machine.storage_path }}" required>
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Update Machine</button>
</form>
{% endblock %} 